<script lang="ts" setup>
defineProps<{
  item?: Message
  number?: number
}>()

const date = (date: any) => {
  date = new Date(date * 1000)

  const userLang = 'en'
  const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone

  return date.toLocaleString(userLang, {
    year: 'numeric',
    // weekday: 'long',
    month: 'long',
    day: 'numeric',
    timeZone,
    hour: 'numeric',
    minute: 'numeric',
    second: 'numeric',
  })
}
</script>

<template>
  <li v-if="item">
    <a
      href="#"
      class="block hover:bg-gray-50"
    >
      <div class="px-4 py-4 sm:px-6">
        <div class="flex items-center justify-between">
          <p class="truncate text-sm font-medium text-indigo-600">
            {{ item.topic }}
          </p>
          <div class="ml-2 flex flex-shrink-0">
            <p class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800">
              {{ item.message.type }}
            </p>
          </div>
        </div>
        <div class="mt-2 sm:flex sm:justify-between">
          <div class="sm:flex">
            {{ number }}. {{ date(item.date) }} {{ item.message.name }}
          </div>
          <div class="mt-2 flex items-center text-sm text-gray-500 sm:mt-0">
            {{ item.message.value }}
            {{ item.message.unit }}
          </div>
        </div>
      </div>
    </a>
  </li>
</template>
