<script lang="ts" setup>
defineProps<{
  items?: Message[]
}>()
</script>

<template>
  <div class="overflow-hidden bg-white shadow sm:rounded-md">
    <ul
      role="list"
      class="divide-y divide-gray-200"
    >
      <temperature-item
        v-for="(item, id) in items" :key="id"
        :item="item"
        :number="id"
      />
    </ul>
  </div>
</template>
