<script setup lang="ts">
import { useSocketIO } from './composables/useSocketIO'

const { socket, messages, fetchMessages, clear, sendMessage, led, ledOff } = useSocketIO()

const loading = ref(false)
const items = ref<Message[]>([])

const fetchApi = async () => {
  loading.value = true
  const api = 'http://localhost:3000'
  const response = await fetch(api)
  loading.value = false
  if (response.status === 200)
    items.value = await response.json() as Message[]
}

socket.on('MESSAGE', (data) => {
  console.log('socket io push')
  // console.log(data)
  fetchApi()
})

onMounted(() => {
  fetchApi()
  // fetchMessages()
  // fetchMessages()

  // setInterval(() => {
  //   fetchApi()
  // }, 5000)
})
</script>

<template>
  <div class="container max-w-xl mx-auto px-6 py-3">
    <div class="fixed right-0 top-0 w-2/3">
      <div v-for="(message, id) in messages" :key="id">
        <notification-push>
          {{ message }}
        </notification-push>
      </div>
    </div>
    <div class="py-2">
      <button class="bg-purple-500 p-2 rounded-md text-white" @click="sendMessage()">
        Send
      </button>
      <button class="bg-purple-500 p-2 rounded-md text-white" @click="clear()">
        Clear
      </button>
      <button class="bg-purple-500 p-2 rounded-md text-white" @click="led()">
        LED
      </button>
      <button class="bg-purple-500 p-2 rounded-md text-white" @click="ledOff()">
        LED OFF
      </button>
      <div>
        <ul>
          <li v-for="(item, id) in messages" :key="id">
            {{ item }}
          </li>
        </ul>
      </div>
      <button class="bg-purple-600 p-2 rounded-md text-white w-full" @click="fetchApi">
        Fetch Api
      </button>
      <div class="py-3 text-center">
        <span v-if="loading">Fetching...</span>
        <span v-else><br></span>
      </div>
    </div>
    <temperature-list :items="items" />
  </div>
</template>
